// VARS

	// COLORS
		$vitrine-default-color: (
			0: #ffffff,
			1: #000000,
			2: #d71a20,
			3: #dbdbdb,
			4: #ebebeb
		);

	// BUTTON
		$vitrine-default-btn-config: (
			radius: 2px,
			btn-height-padding: 14px
		);

	// FONTES
		$vitrine-default-font-config: (
			line-height-padding: 4px,
		);
		$vitrine-default-font-family: (
			0: (verdana,helvetica,sans-serif)
		);

	// SIZES
		$vitrine-default-font-sizes: (
			0: 48px,
			1: 36px,
			2: 24px,
			3: 22px,
			4: 20px,
			5: 18px,
			6: 16px,
			7: 14px,
			8: 12px,
			9: 9px
		);


// GENERATOR

	// COLORS
		@each $number, $color in $vitrine-default-color {
			.vitrine-default-cor-#{$number} 				{ color: $color; }
			.vitrine-default-bg-cor-#{$number} 		 	{ background-color: $color; }
			.vitrine-default-bg-border-cor-#{$number} 	{ background-color: $color; border-color: $color; }
		}

	// FONTES
		@each $number, $family in $vitrine-default-font-family {
			.vitrine-default-font-#{$number} { font-family: $family; }
		}

	// ESTILOS
		.vitrine-default-link { 
			outline: none;
			cursor: pointer; 

			// HOVER COLOR ON LINKS
			@each $number, $color in $vitrine-default-color {
				&.vitrine-default-cor-#{$number}, 
				&.vitrine-default-bg-cor-#{$number} { 
					&:focus { outline: none; } 
				}
				&.vitrine-default-cor-#{$number} { 
					&:hover { color: lighten( $color, 25) !important; } 
					&:active { color: darken( $color, 5) !important; } 
				}
				&.vitrine-default-bg-cor-#{$number} { 
					&:hover { background-color: lighten( $color, 10) !important; } 
					&:active { background-color: darken( $color, 10) !important; } 
				}
			}
		}
		.vitrine-default-thin 			{ font-weight: 100; }
		.vitrine-default-extra-light 	{ font-weight: 200; }
		.vitrine-default-light 			{ font-weight: 300; }
		.vitrine-default-regular 		{ font-weight: 400; }
		.vitrine-default-medium			{ font-weight: 500; }
		.vitrine-default-semi-bold 		{ font-weight: 600; }
		.vitrine-default-bold 			{ font-weight: 700; }
		.vitrine-default-extra-bold 		{ font-weight: 800; }
		.vitrine-default-black 			{ font-weight: 900; }
		.vitrine-default-italico 		{ font-style: italic; }
		.vitrine-default-no-decoration 	{ text-decoration: none; }
		.vitrine-default-line 			{ text-decoration: line-through; }
		.vitrine-default-underline 		{ text-decoration: underline; }
		.vitrine-default-caixa-alta 		{ text-transform: uppercase; }

	// TAMANHOS
		@each $number, $size in $vitrine-default-font-sizes {
			.vitrine-default-tamanho-#{$number} {
				font-size: 		$size;
				line-height: 	$size + map-get($vitrine-default-font-config, line-height-padding);
			}
			@media only screen and (max-width: #{$global-breakpoint}) { 
				.vitrine-default-tamanho-m-#{$number} {
					font-size: 		$size;
					line-height: 	$size + map-get($vitrine-default-font-config, line-height-padding);
				}
			}
			.vitrine-default-height-tamanho-#{$number} {
				height: 	($size*2);
			}
			@media only screen and (max-width: #{$global-breakpoint}) { 
				.vitrine-default-height-tamanho-m-#{$number} {
					height: 	$size + map-get($vitrine-default-font-config, line-height-padding);
				}
			}
		}

	// BUTTON
		@each $number, $size in $vitrine-default-font-sizes {
			.vitrine-default-btn-#{$number} { 
				line-height: 	 		 $size + map-get($vitrine-default-btn-config, btn-height-padding);
				border-left-width: 		($size + map-get($vitrine-default-btn-config, btn-height-padding)) /2; 
				border-right-width: 	($size + map-get($vitrine-default-btn-config, btn-height-padding)) /2; 
				border-style:			 solid;
			}
		}
			
	// RADIUS
		@each $number, $size in $vitrine-default-font-sizes {
			// ALL Corners
			.vitrine-default-radius-#{$number} { border-radius: ( $number * map-get($vitrine-btn-config, radius) ); }
			// TOP Corners
			.vitrine-default-radius-top-#{$number} { 
				border-top-left-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
				border-top-right-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
			// BOTTOM Corners
			.vitrine-default-radius-bottom-#{$number} { 
				border-bottom-left-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
				border-bottom-right-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
			// TOP-LEFT Corner
			.vitrine-default-radius-#{$number} { 
				border-top-left-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
			// TOP-RIGHT Corner
			.vitrine-default-radius-#{$number} { 
				border-top-right-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
			// BOTTOM-LEFT Corner
			.vitrine-default-radius-#{$number} { 
				border-bottom-left-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
			// BOTTOM-RIGHT Corner
			.vitrine-default-radius-#{$number} { 
				border-bottom-right-radius: ( $number * map-get($vitrine-btn-config, radius) ); 
			}
		}