{{#if this_product }}
<div {{#if this_product.businessId}}id="{{this_product.businessId}}"{{/if}} class="product">
	{{#if this_product.detailUrl}}<a class="detailUrl" href="{{this_product.detailUrl}}">{{/if}}

		{{#if this_product.imageName}}
		<span class="imageName">
			<img src="{{this_product.imageName}}">
		</span>
		{{/if}}

		{{#if this_product.name}}
		<span class="name">{{this_product.name}}</span>
		{{/if}}

		{{#if this_product.oldPrice}}
		<span class="oldPrice"><span>De: </span><span>{{this_product.oldPrice}}</span></span>
		{{/if}}

		{{#if this_product.price}}
		<span class="price"><span>Por: </span><span class="vitrine-bold">{{this_product.price}}</span></span>
		{{/if}}


		{{#if this_product.productInfo.paymentConditions}}
		<span class="paymentConditions">{{this_product.productInfo.paymentConditions}}</span>
		{{/if}}

	{{#if this_product.detailUrl}}</a>{{/if}}
</div>
{{/if}}